.menus{
    padding: 80px 5px;
}

.menus .menu1.simpleSideMenu ul{
    position: relative;
    display: block;
    justify-content: start;
}

.menus .menu1.simpleSideMenu ul li a{
    flex-direction: row;
    justify-content: start;
    border-bottom: .5px solid var(--invisibleColor);
    gap: 20px;
    padding: 10px 6%;
}

.menus .menu1.simpleSideMenu ul li:nth-last-child(1) a{
    border: none;
}

.menus .menu1.simpleSideMenu ul li p{
    font-size: 16px;
}

.menus .menu2{
   margin: 20px 0;
}