<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Header</title>
</head>
<body>
    <header class="section">
        <div class="headerSentence">
            <h2>
                Plus de <b>20.000</b> produits <b>Made <br> In Benin</b> 
                pour tous vos <br>
                besoins!
            </h2>
        </div>

        <div class="headerResearch">
            <form action="" class="flex">
                <input type="search" name="search" placeholder="Un nom de produit" autofocus >

                <button type="submit">Trouver</button>
            </form>
        </div>

        <div class="recommandations flex">
            <span> Recommandés </span>

            <div class="hSlides flex">
                <div class="hSlide">
                    <img src="../assets/photos(exemples)/OIP (3).jpeg" alt="Photo du produit">

                    <div class="hSlideInfos flex">
                        <div class="hSlideTexte">
                            <p>Nom du produit de l'entreprise fhfhfh</p>
                            <div class="hSlideDetails flex">
                                <p class="price"> <b>3000</b> Fcfa </p>

                                <div class="hSlideStars flex">
                                    <img src="../assets/icons/Star 4.png" alt="Etoile">
                                    <img src="../assets/icons/Star 4.png" alt="">
                                    <img src="../assets/icons/Star 4.png" alt="">
                                    <img src="../assets/icons/Star 1.png" alt="">
                                    <img src="../assets/icons/Star 1.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="hSlideLogo">
                            <img src="../assets/photos(exemples)/OIP (1).jpeg" alt="Logo de nom de l'entreprise">
                        </div>
                    </div>
                </div>

                <div class="hSlidesIndicators flex">
                    <span class="dot actived"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </header>
</body>
</html>