<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recherche</title>
</head>
<body>
    <!-- Composant Recherche -->
    <div class="recherche">
        <form action="">
            <input type="search" name="" id="">
            <button type="submit">
                <img src="../assets/icons/magnifying-glass-solid (1).svg" alt="">
            </button>
        </form>
    </div>
</body>
</html>