<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/topBar.css">
    <title>Menu</title>
</head>

<body>
    <nav class="flex section">
        <div class="menu">
            <div class="menuButton">
                <img src="../assets/icons/bars-solid (1).svg" alt="menuIcon" class="icon">
            </div>

            <div class="menuContent">
                <!-- Le contenu de la section menu ici -->
            </div>
        </div>

        <div class="logo">
            <img src="../assets/images/Logo-Atoun.png" alt="Logo d'Atoun Africa">
        </div>

        <div class="messageButton">
            <img src="../assets//icons/message-regular.svg" alt="Message Icon" class="icon">
            <span>21</span>
        </div>
    </nav>
</body>

</html>
