.rulesSection{
    padding: 1rem 3% 150px;
    margin: 0 2%;
    background: var(--whiteColor);
    border-radius: 10px;
    position: relative;
}

.rulesSection h2{
    font-size: 22px;
}

.rulesSection .rulesDescription p{
    font-size: 16px;
    margin: 10px 0 15px;
}

.rulesSection img{
    width: 100%;
    border-radius: 25px 25px 25px 0px;
}

.rulesSection .rulesText{
    margin: 2rem 0;
}

.rulesSection .rulesText .ruleText{
    font-size: 15px;
    margin-bottom: 2.5rem;
}

.rulesSection .rulesText .ruleTitle{
    justify-content: start;
    gap: 5px;
    /* margin-bottom: 10px; */
}

.rulesSection .rulesText .ruleTitle span{
    border-radius: 50%;
    padding: 3px 10px;
    border: 2px solid var(--opacityBlackColor);
}

.rulesSection .rulesText .ruleTitle p{
    font-weight: bold
}

.rulesSection .rulesText p.ruleDesc{
    font-size: 14px;
    border-left: 2px solid var(--opacityBlackColor);
    margin-left:  13px;
    padding: 5px 20px 0 20px;
}

.rulesSection button.button1{
    position: fixed;
    top: 90vh;
    left: 5%;
    width: 90%;
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    font-size: 17px;
}

.rulesSection button.button1::before{
    width: 100px;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--whiteColor);
    height: 5vh;
}